{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>This page is "Report"</h1>
        <hr><h3>Show report by selected period:</h3>
        {{ form_start(report_form) }}
        {{ form_row(report_form.dateFrom, {'value': date_from}) }}
        {{ form_row(report_form.dateTo, {'value': date_to}) }}
        <button class="btn btn-primary" type="submit">Apply</button>
        {{ form_end(report_form) }}
        <br>
        <table class="table-bordered table-hover table">
            <thead class="thead-dark">
            <tr>
                <th>Storage title</th>
                <th>Total reservations count (created on selected period)</th>
                <th>Total days reserved (for the selected period)</th>
                <th>Total days empty (for the selected period)</th>
                <th>Most popular goods property (for the selected period)</th>
                <th>Last reserved date (for the selected period)</th>
                <th>Is reserved now</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.storage_title }}</td>
                    <td>{{ report.total_reservations_count }}</td>
                    <td>{{ report.tot_days_res }}</td>
                    <td>{{ report.tot_days_emp }}</td>
                    <td>{{ report.most_popular_goods_property}}</td>
                    <td>{{ report.last_reserved_date }}</td>
                    <td>{{ report.is_reserved_now }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}