{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h1>This page is "Edit profile"</h1>
        {% for flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-5">

            {{ form_start(profile_user_form) }}
            {{ form_row(profile_user_form.login, {'attr': {'placeholder': app.user.login}}) }}
            {{ form_row(profile_user_form.password, {'value': app.user.password}) }}
            {{ form_row(profile_user_form.companyTitle, {'value': app.user.companyTitle}) }}
            {{ form_row(profile_user_form.phoneNumber, {'value': app.user.phoneNumber}) }}
            {{ form_row(profile_user_form.name, {'value': app.user.name}) }}
            {{ form_row(profile_user_form.address, {'value': app.user.address}) }}
            {{ form_row(profile_user_form.photo) }}
            <br>
            <div class="text-right">
                <button class="btn btn-default" type="reset">Clear</button>
                <button class="btn btn-primary" type="submit">Apply!</button>
            </div>
            {{ form_end(profile_user_form) }}
        </div>
        <div class="col-md-5 text-right">
            {% if app.user.photo is not null %}
                <form method="post">
                    <input type="checkbox" id="removeUserProfilePhoto" name="removeUserProfilePhoto" value="true">
                    <label for="removeUserProfilePhoto">Remove profile photo</label>
                    <button class="btn btn-primary" type="submit">Remove!</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

