{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-md-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for flash in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    <h1>Login</h1>
    {{ form_start(login_form) }}
    {{ form_row(login_form.login) }}
    {{ form_row(login_form.password) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="checkbox mb-3 col-md-4 btn">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <div class="text-right col-md-6">
            <button class="btn btn-default" type="reset">Clear</button>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
    {{ form_end(login_form) }}
    <br>
    {% for flash in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}
    {#<div class="fb-login-button" data-size="small" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>#}
    {#<fb:login-button#}
            {#scope="public_profile, email"#}
            {#onlogin="checkLoginState();">#}
    {#</fb:login-button>#}
    {#<div><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">#}
            {#<span>Login with Facebook</span>#}
        {#</a>#}
    {#</div>#}
    {#<div><a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">#}
            {#<span>Login with Google</span>#}
        {#</a>#}
    {#</div>#}
    {#<div><a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}">#}
            {#<span>Login with Twitter</span>#}
        {#</a>#}
    {#</div>#}
    <div><a class="btn btn-link reset-password" href="#" data-toggle="modal" data-target="#resetPasswordModal">Forgot password?</a></div>

    <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
{% endblock %}