{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-md-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>Login</h1>
     {#templates/page/login.html.twig#}

    {{ form_start(login_form) }}
    {{ form_row(login_form.login) }}
    {{ form_row(login_form.password) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="text-right">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <button class="btn btn-default" type="reset">Clear</button>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    {{ form_end(login_form) }}
    <br>
    <div><a class="nav-link" href="{{ path('about_us') }}">Back to the main page</a></div>

</div>
{% endblock %}