{% extends 'base.html.twig' %}

{% block title %}My Reservations list{% endblock %}

{% block content %}
    <div class="col-md-10">
        <h1>This page is "My Reservations list"</h1>

        <table class="table-bordered table-hover table">
            <thead class="thead-dark">
            <tr>
                <th>Date from</th>
                <th>Date to</th>
                <th>Storage type</th>
                <th>Volume size</th>
                <th>Has delivery</th>
                <th>Reservation details</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.dateFrom|date('Y-m-d') }}</td>
                    <td>{{ reservation.dateTo|date('Y-m-d') }}</td>
                    <td>{{ reservation.storageTypeId }}</td>
                    <td>{{ reservation.storageVolumeId }}</td>
                    <td>
                        {% if reservation.hasDelivery==1 %}
                            yes
                        {% else %}
                            no
                        {% endif %}
                    </td>
                    <td><a href="#" class="text-dark btn btn-link reservation-details" id="{{ reservation.id }}" data-toggle="modal" data-target="#reservationModal">Show details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {{ encore_entry_script_tags('index') }}
    {{ encore_entry_script_tags('chained') }}
{% endblock %}