{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="col-md-5">
        <h1>Registration</h1>
        <div>
            {% for flash in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
        </div>
        {# templates/page/registration.html.twig #}

        {{ form_start(reg_form) }}
        {{ form_row(reg_form.login) }}
        {{ form_row(reg_form.password) }}
        {{ form_row(reg_form.email) }}
        {{ form_row(reg_form.companyTitle) }}
        {{ form_row(reg_form.phoneNumber) }}
        {{ form_row(reg_form.name) }}
        {{ form_row(reg_form.address) }}
        <div class="text-right">
            <button class="btn btn-default" type="reset">Clear</button>
            <button class="btn btn-primary" type="submit">Register!</button>
        </div>
        {{ form_end(reg_form) }}
        <br>

        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">Continue with Facebook</a>
    </div>
{% endblock %}