{# templates/header/header.html.twig #}
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mynav-header">
            <a class="navbar-brand" href="{{ path('about_us') }}">Storage rental service</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">


                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if about_us is defined %} {{ about_us }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'about_us'}) }}">About us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if our_services is defined %} {{ our_services }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'our_services'}) }}">Our services</a>
                    </li>
                    <li class="nav-item {% if contact_us is defined %} {{ contact_us }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'contact_us'}) }}">Contact us</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown {% if reserve is defined %} {{ reserve }} {% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reservation
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('create_reservation') }}">Create Reservation</a>
                                <a class="dropdown-item" href="{{ path('reservations_list') }}">My Reservations list</a>
                            </div>
                        </li>
                        <li class="nav-item {% if logout is defined %} {{ logout }} {% endif %}">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                </div>
                <div class="navbar-nav ml-auto">
                    <li class="nav-item dropdown {% if profile is defined %} {{ profile }} {% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.photo is not null %}
                                <img class="nav-profile-img rounded-circle nav-user_photo" src="{{ asset('images/') }}{{ asset(app.user.photo) }}">
                            {% else %}
                                <img class="nav-profile-img rounded-circle nav-user_photo" src="{{ asset('images/defaultUserPhoto.png') }}">
                            {% endif %}
                            {{ app.user.login }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('show_profile') }}">View profile</a>
                            <a class="dropdown-item" href="{{ path('edit_profile') }}">Edit profile</a>
                        </div>
                    </li>
                </div>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown {% if admin is defined %} {{ admin }} {% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin panel
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('admin_reservations') }}">Reservations List</a>
                                <a class="dropdown-item" href="#">Users list</a>
                            </div>
                        </li>
                        <li class="nav-item {% if logout is defined %} {{ logout }} {% endif %}">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
            </div>
                        <div class="navbar-nav ml-auto">
                            <li class="nav-item dropdown {% if profile is defined %} {{ profile }} {% endif %}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if app.user.photo is not null %}
                                        <img class="nav-profile-img rounded-circle nav-user_photo" src="{{ asset('images/') }}{{ asset(app.user.photo) }}">
                                    {% else %}
                                        <img class="nav-profile-img rounded-circle nav-user_photo" src="{{ asset('images/defaultUserPhoto.png') }}">
                                    {% endif %}
                                    {{ app.user.login }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('show_profile') }}">View profile</a>
                                    <a class="dropdown-item" href="{{ path('edit_profile') }}">Edit profile</a>
                                </div>
                            </li>
                        </div>

                    {% else %}
                        <li class="nav-item {% if login is defined %} {{ login }} {% endif %}">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li class="nav-item {% if registration is defined %} {{ registration }} {% endif %}">
                            <a class="nav-link" href="{{ path('registration') }}">Registration</a>
                        </li>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}

