{# templates/header/header.html.twig #}
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ path('about_us') }}">Storage rental service</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if about_us is defined %} {{ about_us }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'about_us'}) }}">About us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if our_services is defined %} {{ our_services }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'our_services'}) }}">Our services</a>
                    </li>
                    <li class="nav-item {% if contact_us is defined %} {{ contact_us }} {% endif %}">
                        <a class="nav-link" href="{{ path('page_show', {'page': 'contact_us'}) }}">Contact us</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item {% if reservation is defined %} {{ reservation }} {% endif %}">
                        <a class="nav-link" href="#">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Hello, {{ app.user.login }}!</a>
                    </li>
                    <li class="nav-item {% if logout is defined %} {{ logout }} {% endif %}">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {% if reservation is defined %} {{ reservation }} {% endif %}">
                            <a class="nav-link" href="#">Reservation</a>
                        </li>
                    <li class="nav-item {% if admin_panel is defined %} {{ admin_panel }} {% endif %}">
                        <a class="nav-link" href="#">Admin panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"> Hello, {{ app.user.login }}!</a>
                    </li>
                    <li class="nav-item {% if logout is defined %} {{ logout }} {% endif %}">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% if login is defined %} {{ login }} {% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item {% if registration is defined %} {{ registration }} {% endif %}">
                        <a class="nav-link" href="{{ path('registration') }}">Registration</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}

