{% extends 'base.html.twig' %}


{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>
<div>
    {% for flash in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flash }}</div>

    {% endfor %}
</div>
    {# templates/registration/register.html.twig #}

    {{ form_start(reg_form) }}
    {{ form_row(reg_form.login) }}
    {{ form_row(reg_form.password) }}
    {{ form_row(reg_form.email) }}
    {{ form_row(reg_form.companyTitle) }}
    {{ form_row(reg_form.phoneNumber) }}
    {{ form_row(reg_form.name) }}
    {{ form_row(reg_form.address) }}

    <button class="btn btn-default" type="reset">Clear</button>
    <button class="btn btn-default" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Register!</button>
    {{ form_end(reg_form) }}
{% endblock %}
